@import 'vars';
@import 'mixins';

:root{
    --swiper-theme-color: #fff;
}

.feedbacks {
    width: 100%;
    background-color: $blueGrey;
    color: #fff;
    font-family: "Oswald";
    
    &__title {
        font-family: "Lobster";
        text-align: center;
        margin: auto;
        width: 55%;
        font-size: 1.3rem;
        padding: {
            top: 2rem;
            bottom: .5rem;
        }
        position: relative;
        
    }
}

.feedbacks__swiper {
    width: 100%;
    height: 21.5em;
}

.swiper-button-prev:after, .swiper-button-next:after {
    display: none;
}


.feedbacks__title--main {

    padding: {
        top: 4rem;
        bottom: 3rem;
    }

    &::before{
        content: '';
        width: 35%;
        height: 5px;
        display: inline-block;
        position: absolute;
        right: 100%;
        top: 50%;
        background-color: #fff;
    }

    &::after{
        content: '';
        width: 35%;
        height: 5px;
        display: inline-block;
        position: absolute;
        left: 102%;
        top: 50%;
        background-color: #fff;
    }

}


@include sm {

     .feedbacks {
         width: 100%;
         background-color: $blueGrey;
         color: #fff;
         font-family: "Oswald";
         
         &__title {
             font-family: "Lobster";
             text-align: center;
             margin: auto;
             width: 40%;
             padding: {
                 top: 2rem;
             };
             font-size: 1.5rem;
             position: relative;
             
         }
     
         .feedbacks__title--main {
             padding: {
                 top: 5rem;
                 bottom: 4rem;
             }
         }
     
     .feedbacks__swiper {
         width: 90%;
         height: 28em;
     }
     
     .swiper-button-prev:after, .swiper-button-next:after {
         display: flex;
       }
}

.feedbacks__title--main {

    &::before{
        content: '';
        width: 25%;
        height: 5px;
        display: inline-block;
        position: absolute;
        right: 100%;
        top: 50%;
        background-color: #fff;
    }

    &::after{
        content: '';
        width: 25%;
        height: 5px;
        display: inline-block;
        position: absolute;
        left: 100%;
        top: 50%;
        background-color: #fff;
    }

}
}

@include md {

    .feedbacks__title {
        font-size: 1.8rem;
    }

    #feedbacks__swiper {
        width: 80%;
        height: 25em;
    }

    .swiper-button-prev:after, .swiper-button-next:after {
        transform: translateY(-30px);
    }
}


@include lg {

    .feedbacks__title {
            width: 35%;
            font-size: 2rem;
            // padding: 2.5rem 0; 
        }

    .feedbacks__title--main {
        width: 30%;
    }

     #feedbacks__swiper {
            height: 28em;
            width: 50%;

        }
} 
    
   