@import "vars";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.NavBar {
  width: 100%;
  background-color: $primary;
  font-family: "Poppins";
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
}






