@import "vars";
@import "mixins";



.navBar__navigation {
  width: 100%;
  background-color: $primary;
  font-family: "Poppins";
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  
}

.NavBar {
  position: fixed;
  width: 100%;
  z-index: 20;
}






