@import "vars";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.NavBar {
  width: 100%;
  background-color: $primary;
  font-family: "Poppins";
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
}



/* Resume button */
.resume {

    &__button {
      display: block;
      width: 6rem;
      background-color: $primary;
      border: none;
      margin: {
        left: 1rem;
        top: 1rem
      }}
      
      &__link {
        display: flex;
        padding: .5rem 2px;
        border: 1px solid #fff;
        font-size: 1rem;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 8px;
      
    }

    &__icon {
      display: block;
      margin-right: 8px;
    }
    
}

/* Navigaton button */

.navigation {

     &__button {
       background-color: $primary;
       border: none;
       margin-right: 1rem;
       margin-top: 1.2rem;
     }
     
     &__icon {
       border-radius: 8px;
       border: 1px solid #fff;
     }
}

.navigation__menu {
  width: 45px;
  display: block;
  border: 1px solid #fff;
  border-radius: 4px;
  
  
}


/* Navigation bar */

// .home {
//   display: none;
// }

// .navigation {
//   width: 100%;
//   position: absolute;
//   display: flex;
//   flex-wrap: wrap;
//   text-align: center;
//   top: 100%;
//   left: 0;
//   transform: translateY(0%) ;
//   z-index: -1;
//   transition: 200ms ease-in-out;
//       &__item {
//         font-size: 1rem;
//         list-style: none;
//         width: 50%;
//         padding: 1rem 0.5rem;
//         padding-bottom: 0;
//         background: $secondary;
//         cursor: pointer;

       
//       }
//       &__link {
//         padding: .5rem;
//       }  

// }


// #active {
//   transform: translateY(0%);
// }

