@import 'vars';
@import 'mixins';


.home {
    display: none;
  }
  
  .navigation {
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    top: 100%;
    left: 0;
    transform: translateY(-100%) ;
    z-index: -1;
    transition: 200ms ease-in-out;
        &__item {
          font-size: 1rem;
          list-style: none;
          width: 50%;
          padding: 1rem 0.5rem;
          padding-bottom: 0;
          background: $secondary;
          cursor: pointer;
  
         
        }
        &__link {
          padding: .5rem;
        }  
  
  }
  
  
  #active {
    transform: translateY(0%);
  }

  /* Navigaton button */

.navigation {

  &__button {
    background-color: $primary;
    border: none;
    margin-right: 1rem;
    margin-top: 1.2rem;
  }
  
  &__icon {
    border-radius: 8px;
    border: 1px solid #fff;
  }
}

.navigation__menu {
width: 40px;
display: block;
border: 1px solid #fff;
border-radius: 4px;
}
  

@include lg {
  .home {
    display: block;
  }

  
  .navigation {
    border: 1px solid #fff;
    width: 100%;
    position: static;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    transform: translateY(0%) ;
    z-index: 0;
    transition: 200ms ease-in-out;
        &__item {
          font-size: 1rem;
          list-style: none;
          width: fit-content;
          padding: 0;
          padding-bottom: 0;
          background: $primary;
          cursor: pointer;
  
         
        }
        &__link {
          padding: .5rem;
        }  
  
  }

  .nav__icon, 
  .navigation__button {
    display: none;
  }
}