@import 'vars';
@import 'mixins';

.portfolio {
     background-color: $primary;
     width: 100%;
     padding-bottom: 2rem;
     
    &__title {
        display: block;
        margin: 0 auto;
        padding: 1rem;
        padding-top: 5rem;
        width: 80%;
    }

    &__card {
        margin: 2rem 0;
    }
}

@include md {

    .portfolio__title {
        padding-bottom: 2.5rem;
    }
}


@include lg {

       .portfolio {
       
       &__title {
           display: block;
           padding-top: 5rem;
           margin: 0 auto;
           width: 60%;
           opacity: .7;
       }

       &__card {
           width: 100%;
           display: flex;
           flex-wrap: wrap;
           justify-content: space-evenly;
       }
    }
}